header {
    background-color: lightskyblue;
    text-align: center;
    color: navy;
}
.grid-area {
    display: grid;
    grid-template-columns: 1fr;
    color: slategrey;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    text-align: center;
    background-color: rgb(225, 231, 238);
}
.grid-area:nth-child(3) {
    margin: 10px;
    border: 3px;
    padding: 20px;
}
h3 {
    background-color: rgb(250, 212, 196);
    border-radius: 10px 10px 0px 0px;
}
.grid-area picture img {
    padding-top: 30px;
    width: 100%;
}
p {
    padding: 30px;
    text-align: left;
    color: rgb(62, 73, 83)
}

