:root{
   /*--color#: #hexcode; Color Name, descriptive color info*/
   --red: #d55555; /*Indian Red*/
   --verylightblue: #d4eaed; /*Light Cyan, a very light blue*/
   --skyblue: #a2dae2; /*Blizzard Blue, a sky blue*/ 
   --brown:#785338; /*Coffee, Brown*/
   --navyblue: #003952; /*Indigo Dye, a navy blue*/
   --verypaleblue: #f4f6f5; /*Cultured, A very pale blue, almost an off white*/
   }
body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: stretch;
}   
header{
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: right;
   justify-items: right;
   border: 50px var(--verypaleblue);
   background-color: var(--verylightblue);
   justify-content: space-around;
   align-content: stretch;
}

.topdate {
   text-align: center;
   background: var(--verypaleblue);
   padding: 10px;
   margin: 10px;
}
nav button {
   margin: .2rem 2vw;
   background: transparent;
   border: none;
   font-size: 2rem;
   color: var(--brown);
}

nav {
   background-color: var(--verylightblue);
   text-align: right;
   font-size: 1.25rem;
   color: var(--navyblue);
   padding: 10px;
   margin: 10px;
}

nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   justify-content: flex-end;
}

nav ul#primaryNav {
   padding: 10px;
   margin: 0px;
}   

nav ul a {
   display: block;
   padding: .8rem 2vw;
   text-decoration: none;
   color: var(--navyblue);
}
nav ul li.active a {  
   height: 100%;
   background-color: var(--brown);
   color: var(--verypaleblue);
}
nav ul li a:hover {
   height: 100%;
   background-color: var(--skyblue);
   color: var(--brown);
   border-radius: 20px;
}

nav ul { display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}

.logo {
    border-radius: 80px 80px 0px 0px;
    float: left;
    margin: 5px;
    padding: 10px; 
}
.maingrid {
   padding: 20px;
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr;
   grid-gap: 10px; 
}
.hero, .event, .weather, .news, .spotlight, .join {
   height: 150px;
   border-color: var(--brown);
   border-style: groove;
   grid-column: 1/4;
}
.hero {
   grid-row:1;
}
.event {   grid-row: 2;}

.weather {   grid-row: 3; }
.news {   grid-row: 4; }

.spotlight {
   list-style: none;
   grid-row: 5;
   height: 230px;
}
.spotlights {
   display: flex;
   flex-direction: column;
   margin: 5px;
   padding: 5px;
}
#spotlight1, #spotlight2, #spotlight3 {
   list-style: none;
}
#spotlight1 {
   border: 1px solid var(--brown);
   padding: 1px;
   margin: 1px;
   height: 100px;
}

#spotlight2 {
   border: 1px solid var(--brown);
   padding: 1px;
   margin: 1px;
   height: 100px;
}

#spotlight3 {
   display: none;
}

.join {
   display: none;
}
.social{
   display: flex;
   justify-content: center;
   border-radius: 20px;
   list-style: none;
   align-content: center;
}

footer{
   padding-top: 20px;
   background-color: var(--verylightblue);
   justify-content: space-around;
}
.logo-box {
   display: flex;
   justify-content: center;
   align-items: center;
}
footer.location-box {
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}
.flex {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: center;
}
#bottom {
   color: var(--brown);
   font-weight: 400;
   margin: 20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#end {
   display: block;
}
#banner p {
   margin: 15px;
   padding: 10px;
   text-align: center;
   font-size: 1.5rem;
   color: var(--navyblue);
   background: var(--skyblue);
   height: 2.5rem;
}