@media only screen and (min-width: 35rem) {
    nav ul a {
        border: none;
    }
    .maingrid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .hero, .news, .join, .event, .weather {
        height: 250px;
    }
    .news {
        grid-row: 2;
    }
    .spotlight {
        grid-row: 3;
        height: 250px;
    }
    #spotlight1, #spotlight2 {
        height: 110px;
    }
    .join {
        display: block;
        grid-row: 4;
    }
    .event {
        grid-row: 5;
        grid-column: 1/3;
    }
    .weather {
        grid-row: 5;
        grid-column: 3;
    }
    .flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .logo-box {
        grid-column: 1;
    }
    .contact-box {
        grid-column: 2;
    }
    .location-box {
        grid-column: 4;
        margin-right: 5px;
        padding-right: 5px;
    }
}