@media only screen and (min-width: 64rem) {
    header {
        max-width: 1200px;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .maingrid{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 150px 150px 1fr;
        grid-gap: 10px;
        border: 2px solid var(--black);
    }
    /*footer info*/
    p #lastmod {
        grid-column: 2;
        grid-row: 1;
    }
    /*nav*/
    nav ul li a {
        padding: 0.5rem 1rem;
    } 
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
    }
    .event, .weather, .join, .news {
        grid-column: 1;
        justify-items: right;
        height: 155px;
    }  
    .hero {
        background-color: var(--yellow);
        color: var(--green);
        font-weight: 1000;
        box-shadow: 10px var(--green);
        margin: 20px;
        padding: 20px;
        text-align: center;
        grid-column: 2;
        height: 50%;
    } 
    .news {
        grid-column: 2;
        height: 100%;
    }
    main picture {
        height: 100%;
    }
    main picture.hero img {
        width: 100%;
    }
    .contact {
        grid-column: 3;
    }
    footer {
        max-width: 1200px;
        width: 100%;
    }
    }
    