:root{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
/* Figure out how to fix the navigation in medium and large view for the services extra options
Also figure out how to make it not transparent when the services menu options dropdown when hovering
#ThisIsSoExciting!!!!!
*/

/*This is for the temple page*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }