:root {
    /* change the values below to your colors from your palette */
    --red: #d55555; /* Indian Red*/
    --verylightblue: #d4eaed; /*Light Cyan, a very light blue*/
    --skyblue: #a2dae2; /*Blizzard Blue, a sky blue*/ 
    --brown:#785338; /* Coffee, Brown*/ 
    --navyblue: #003952; /*Indigo Dye, a navy blue*/
    --whiteblue: #f4f6f5; /*Cultured, A very pale blue, almost an off white*/
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Helvetica", "Verdana", sans-serif;
    --paragraph-font: "Garamond", "Georgia", serif;
  }
  body {
    background-color: var(--whiteblue);
  }
  main {
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--verylightblue);
    padding: 1em;
    width:80%;
  }
  h1, h2 {
    text-decoration: underline;
  }
  header h2 {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--navyblue);
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--navyblue);
    padding: 1rem;
  }
  header h1 {
    text-align: center;
  }
  header h2 {
    background-color: var(--red);
    color: var(--whiteblue);
    text-align: center;
    width: 85%;
    padding: 10px;
  } 
  header a:link {
    background-color: var(--skyblue);
    color: var(--brown);
  }
  #date {
    padding: 1em;
    color: var(--whiteblue);
    background-color: var(--brown);
    width: 40%;
    float: right;
  }
  a:link {
    color: var(--whiteblue);
  }
  #domain {
    color: var(--verylightblue);
    background-color: var(--navyblue);
    padding-bottom: 10px;
    margin: auto;
    
  }
  .domain {
    background-color: var(--navyblue);
    padding: 20px 5px;
    margin: 10px;
  }
  div {
    border: 10px;
    margin: 15px;
  }
  .color-1 {
    height: 200px;
    background-color: var(--red);
  }
  .color-2 {
    height: 200px;
    background-color: var(--verylightblue);
  }
  .color-3 {
    height: 200px;
    background-color: var(--skyblue);
  }
  .color-4 {
    height: 200px;
    background-color: var(--brown);
  }
  .color-5 {
    height:200px;
    background-color: var(--navyblue);
  }
  .color-6 {
    height:200px;
    background-color: var(--whiteblue);
  }
  img{
    border-radius: 180px 180px 0px 0px;
  }
  .flexbox {
    display: flex;
    flex-direction: column;
  }