:root {
    /* change the values below to your colors from your palette */
    --red: #d55555; /* Indian Red*/
    --verylightblue: #d4eaed; /*Light Cyan, a very light blue*/
    --skyblue: #a2dae2; /*Blizzard Blue, a sky blue*/ 
    --brown:#785338; /* Coffee, Brown*/ 
    --navyblue: #003952; /*Indigo Dye, a navy blue*/
    --whiteblue: #f4f6f5; /*Cultured, A very pale blue, almost an off white*/
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Helvetica", "Verdana", sans-serif;
    --paragraph-font: "Garamond", "Georgia", serif;
}
body {
 background-color: var(--whiteblue);
 width: auto;
}
main {
  padding: 1em;
  display:grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
  width: auto;
}
h1, h2 {
  text-decoration: underline;
}
header h2 {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--navyblue);
}
p, p1, p2{
  font-family: var(--paragraph-font);
  color: var(--navyblue);
  padding: 1rem;
}
p{
  font-size: 1.5rem;
}
p1{
  font-size: 1rem;
  font-weight: 500;
}
p2{
  font-size: 1.25rem;
  font-weight: 900;
  font-variant: small-caps;
  font-stretch: expanded;
  text-align: center;
}
.people {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr 1fr;
}
.jennifer {
  grid-row: 1;
}
.darren {
  grid-row: 3;
}
header h1 {
  color: var(--whiteblue);
  text-align: center;
}
header h2 {
  background-color: var(--red);
  color: var(--whiteblue);
  text-align: center;
  padding: 10px;
  width: 90%;
} 
header a:link {
  background-color: var(--skyblue);
  color: var(--brown);
}
#date {
  padding: 1em;
  color: var(--whiteblue);
  background-color: var(--brown);
  font-weight: bold;
}
a:link {
  color: var(--whiteblue);
}
header,footer {
  background-color: var(--navyblue);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--skyblue);
}
header, main, footer {
  max-width: 767px;
  margin: 0 auto;
}
nav {
	margin: 0 auto;
	max-width: 780px;
  width: 85%;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
  display: block;
  text-align: center;
	color: var(--navyblue);
  background-color: var(--skyblue);
	padding: 0.75rem;
	text-decoration: none;
  font-size: 1.2rem;
}
.active {
	color: var(--brown);
}
a:hover {
  background-color: var(--brown);
  color: var(--whiteblue);
  max-width: 780px;
  font-size:1.5rem;
}
#domain {
  color: var(--verylightblue);
  background-color: var(--navyblue);
  padding-bottom: 10px;
  margin: auto;   
}
.domain {
  background-color: var(--navyblue);
  padding: 20px 5px;
  margin: 10px;
  font-size: 1.5rem;
}
div {
  border: 10px;
  margin: 15px;
}
.title {
  color: var(--skyblue);
  font-size: 1.5rem;
  padding: 10px;
  border-color: 5px var(--brown);
  border-style: groove;
}
.title-home p{
  padding-bottom: 10px;
  font-size: 2.5rem;
}
.color-1, .color-2, .color-3, .color-4, .color-5, .color-6{
  height: 60px;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20px;
}
.color-1 {
  background-color: var(--red);
}
.color-2 {
  background-color: var(--verylightblue);
}
.color-3 {
  background-color: var(--skyblue);
}
.color-4 {
  background-color: var(--brown);
}
.color-5 {
  background-color: var(--navyblue);
}
.color-6 {
  background-color: var(--whiteblue);
}
img{
  border-radius: 180px 180px 0px 0px;
}
picture img{
  border-radius: 20px; 
}
.flexbox {
  display: flex;
  flex-direction: column;
}
#heading-font{
  font-family: var(--heading-font);
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}
#paragraph-font{
  font-family: var(--paragraph-font);
  font-size: 2rem;
  text-align:center;
  padding: 20px;
}